<div id="alerts">

</div>
<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <%= render partial: 'shared_products_view/search', object: @products %>
  </div>
</div>
<div class="row">

  <%= render partial: 'shared_products_view/menu', object: @categories %>
  <div class="col-lg-10 col-md-9 col-sm-8">
    <div class="row justify-content-end">
      <%= paginate @products %>
    </div>
    <%= render partial: 'shared_products_view/products', object: @products %>
  </div>
</div>
<!--to style with Bootstrap: https://www.youtube.com/watch?v=dqDcPOlwisM-->




