<div class="row">
  <% @products.each do |product| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card border-primary">

        <% if !product.image.nil? %>
          <%= image_tag product.image.url, :class => "card-img-top" %>
        <% end %>

        <div class="card-body">
          <h4 class="card-title">
            <%= link_to product.name , product_path(product) %>
          </h4>
          <h5><%= number_to_currency product.price %></h5>
          <p class="card-text"><%= product.description %></p>
          <div class="form-group">
            <label class="col-form-label" for="inputDefault">Quantity</label>
            <input type="text" class="form-control" id="inputDefault">
          </div>
          <a href="#" class="btn btn-outline-primary">Add to cart</a>
        </div>
      </div>
    </div>
  <% end %>
</div>